html,
body {
  height: 100%;
  margin: 0
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

#cat-list {
  background-color: lightblue;
  width: 45%;
  float: left;
  height: 100%;
}

#active-cat{
  background-color: lavender;
  height: 100%;
  width: 65%;
}